html {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
.App {
  background-color: #fff;
  
}
.container {
  background-color: #F2D9D9;
  background-image: linear-gradient(to bottom right, #FCCFCF, #fff);
  -webkit-box-shadow: 2px 2px 1px 1px#570F0F;

}
.title-container {

  
}
.title-container-title {
  color: #F76E6E;

  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgb(24, 1, 19);
}
.title-container-subtitle {
  color: #F76E6E;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  font-weight: normal;
  color: rgb(0, 51, 0);
  text-align: center;
  width: 50%;
  margin: 100px 100px;
  padding: 40px 40px;
}
.inputForm {
  margin: 5% 0;
  padding: 4% 4%;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
}

.btn.btn-md.btn-danger{
  margin: 10% 0;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
}

.btn.btn-md.btn-danger:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input {
  display: flex;
  justify-content: center;
}

.input form {
  /* border: 2px solid lightskyblue; */
  padding: 0% 5%;
  margin: 5% 5%;
  font-family: 'Open Sans', sans-serif;
  
}

.weather-info {
  padding-top: 5%;
}

.shown.location {
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 0.15rem;
  font-weight: bold;
}
.shown {
  font-weight: normal;
  color: #E05252;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  
}
.shown.error {
  margin-top: 5px;
  color: #F76E6E;
  font-size: 18px;
  font-weight: normal;
  
}

@media (max-width: 767px) {
  .container {
    padding: 5% 5%;
    width: 100%;
    margin: 0 auto;
    height: 622px;
  }
  .input {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn.btn-md.btn-danger{
    margin: 0;
    margin-top: 2%;
  }
  .inputForm {
    margin: 1% 0;
    padding: 2% 2%;
    width:70%;
  }
}