
body {
  font-family: 'Heebo', sans-serif;
  color: #fff;
}

.App{
  /* background-image: linear-gradient(to bottom right, #008080, #00cdcd); */
  background-image: url("./weather.jpg");
  width: auto;
  min-height: 100vh;
  height: 100%;
  text-shadow: 0 1px black;
}
.title-text {
  color: #fff;
  text-align: center;
}
.clouds {
  background-image: url("./cloudy3.jpg");
  background-position: bottom;
}
.snow {
  background-image: url("./snow.jpg");
  background-position: right;
}
.rain {
  background-image: url("./rainy4.jpg");
  background-position: bottom;

}
.clear {
  background-image: url("./clearsky.jpg");
  background-size: cover;
}

.navbar {
  display: flex;
}
.navbar h1 {
  margin-left: 10px;
  color: #fff;
}
.navbar form {
  display: flex;
  margin-left: 25px;
}
h1.loc {
  font-size: 72px;
}
.weather-info p {
  font-size: 24px;
  margin-bottom: 0;
}
.weather-info .temp {
  font-size: 80px;
}

.inputForm {
  padding: 5px;
  width: 70vw;
  margin: 25px 10px 18px 10px;
  background-color: white;
}

.btn.btn-md.btn-danger{
  margin-top: 25px;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
}

.btn.btn-md.btn-danger:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input {
  display: flex;
  justify-content: center;
}

.input form {
  padding: 0% 1%;
  margin: 5% 5%;
}

.weather-info {
  padding: 0 0 3% 0;
  color: #fff;
  
}
.card-body .bold {
    font-size: 32px;
    font-weight: 700;
}
.page-wrapper {
  margin-bottom: 32px;
}
.forecast {
  font-size: 24px;
  color: #fff;
  
}
.weather-info .conditions {
  text-transform: capitalize;
}
.icon-div {
  margin-left:2rem;
}
.icon {
  font-size: 30px;
  margin: 1rem 0;
}
.shown {
  font-size: 24px;
  
}
.shown.error {
  margin-top: 5px;
  color: #F76E6E;
  font-size: 18px;
  font-weight: normal;
  
}


/* forecast */
.card-wrapper {
  display: flex;
}
.card-body  {
  color: #fff;
  font-size: 16px;
}
.card-body .card-title {
  font-size: 24px;
}
.high {
  font-size: 24px;
  margin-left: 40px;
  justify-content: center;
}


@media (max-width: 767px) {
  .container {
    padding: 5% 5%;
    width: 100%;
    margin: 0 auto;
    height: 622px;
  }
  .navbar {
    flex-direction:column;
  }
  .navbar form {
    margin-left: 10px;
  }
  .go-btn {
    align-self: center;
  }
  .title-text h2{
    font-size: 16px;
  }
  
  .input {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn.btn-md.btn-danger{
    margin: 0;
    padding: 8px;
  }
  h1.loc {
    font-size: 48px;
    margin-top: 0;
  }
  .weather-info .temp {
    font-size: 54px;
  }
  .weather-info p {
    font-size: 20px;
  }
  .inputForm {
    margin: 1% 0;
    padding: 2% 2%;
    width:70%;
  }
  .card-wrapper {
    flex-wrap: wrap;
  }
  .card.bg-lg {
    margin: 0 1rem !important;
    width: 100px !important;
  }
  .card-body .bold, .icon  {
    font-size: 18px;
  } 
  .time-display {
    font-size: 16px !important;
  }
  .container {
    height: auto;
    padding-top: 0;
  }

  .clear {
    background-position: bottom;
  }

}